@@include("../include/组件-公共head.html", {
	"title": "我的课程",
	"css": "page/my_lesson"
})
<body>
	<!-- 头部 -->
	@@include("../include/组件-头部-登录注册.html")
	<!-- /头部 -->
	
	<!-- 个人中心主体内容 -->
		<div class="container_wrapper">
			<!-- 左侧导航 -->
			@@include("../include/组件-左侧导航栏.html")
			<!-- /左侧导航 -->
			<!-- 右侧内容 -->
			<div class="section">
				<div class="panel">
					<div class="panel-header">
						<h3 class="title">我的课程</h3>
					</div>
					<div class="panel-body">
						<div class="tab">
							<div class="item active">
								<a href="javascript:;">在线课程</a>
							</div>
							<div class="item">
								<a href="javascript:;">结课课程</a>
							</div>
							<div class="item">
								<a href="javascript:;">退费课程</a>
							</div>
							<div class="item">
								<a href="javascript:;">推荐课程</a>
							</div>
						</div>
						<div class="content">
							<div class="cent">
								<div class="check">查看课程安排</div>
								<h3 class="title">【2018-春】 三年级大语文春季直播班<span class="icon status1">正常开课</span></h3>
								<div class="list">
									<ul>
										<li class="item">
											<span>上课时间</span> 2018-4-2 15:10:30至2018-9-30 15:30 | 每周一、二、三、四、五、六、日上课
										</li>
										<li class="item">
											<span>上课教室</span>北京市海淀区中关村大街人民大学3号楼211教室
										</li>
										<li class="item">
											<span>学员人数</span> 天马（3955556666）| 天马（3955556666）
										</li>
									</ul>
								</div>
							</div>
							<div class="cent">
								<div class="check">查看课程安排</div>
								<h3 class="title">【2018-春】 三年级大语文春季直播班<span class="icon status2">正常开课</span></h3>
								<div class="list">
									<ul>
										<li class="item">
											<span>上课时间</span> 2018-4-2 15:10:30至2018-9-30 15:30 | 每周一、二、三、四、五、六、日上课
										</li>
										<li class="item">
											<span>上课教室</span>北京市海淀区中关村大街人民大学3号楼211教室
										</li>
										<li class="item">
											<span>学员人数</span> 天马（3955556666）| 天马（3955556666）
										</li>
									</ul>
								</div>
							</div>
							<div class="cent active">
								<div class="check">查看课程安排</div>
								<h3 class="title">【2018-春】 三年级大语文春季直播班<span class="icon status3">正常开课</span></h3>
								<div class="list">
									<ul>
										<li class="item">
											<span>上课时间</span> 2018-4-2 15:10:30至2018-9-30 15:30 | 每周一、二、三、四、五、六、日上课
										</li>
										<li class="item">
											<span>上课教室</span>北京市海淀区中关村大街人民大学3号楼211教室
										</li>
										<li class="item">
											<span>学员人数</span> 天马（3955556666）| 天马（3955556666）
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /右侧内容 -->
			<!-- 弹窗 -->
			<div class="dialog-wrapper">
				<div class="dialog">
						<div class="dialog_title">
							课程安排<a href="javascript:;" class="close"></a>
						</div>
						<div class="dialog_body">
							<ul>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status1">已结束</span></div>
								</li>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status1">已结束</span></div>
								</li>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status1">已结束</span></div>
								</li>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status2">已结束</span></div>
								</li>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status1">已结束</span></div>
								</li>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status3">已结束</span></div>
								</li>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status2">已结束</span></div>
								</li>
								<li class="item">
									<div class="num">1</div>
									<div class="date">2018年4月4日16:30-18:00<span class="status status1">已结束</span></div>
								</li>
							</ul>
						</div>
						<div class="dialog_footer">
							<div class="btn-wrapper">
								<a href="javascript:;" class="update">修改信息</a>
								<a href="javascript:;" class="goTo">没问题，去付款</a>
							</div>
						</div>
				</div>
			</div>
			<!-- /弹窗 -->
		</div>
	<!-- /个人中心主体内容  -->
	
	<!--页脚-->
	@@include("../include/组件-页脚.html")
	<script src="../js/bscroll.min.js"></script>
	<script>
		var dialogWrapper = $('.dialog_body')[0];
		var bS;
		// 查看课程
		$('.check').on('click', function() {
			$('.dialog-wrapper').addClass('active');
			if(bS) {
				bS.refresh();
			}else{
				bS = new BScroll(dialogWrapper,{});
			}
		})
		$('.dialog-wrapper .close').on('click', function() {
			$('.dialog-wrapper').removeClass('active');
		});
		$('.dialog-wrapper').on('click', function(e) {
			var is = $.contains($('.dialog')[0], e.target);
			if(!is) {
				$('.dialog-wrapper').removeClass('active');
			}
		})
	</script>
</body>
