@@include("../include/组件-公共head.html", {
	"title": "我的订单",
	"css": "page/per_center_order"
})
<body>
	<!-- 头部 -->
	@@include("../include/组件-头部-登录注册.html")
	<!-- /头部 -->
	
	<!-- 个人中心主体内容 -->
		<div class="container_wrapper">
			<!-- 左侧导航 -->
			@@include("../include/组件-左侧导航栏.html")
			<!-- /左侧导航 -->
			<!-- 右侧内容 -->
			<div class="section">
				<div class="panel">
					<div class="panel-header">
						<a href="javascript:;" class="back"><返回上一页</a>
					</div>
					<div class="panel-body">
						<div class="order-status">订单状态：<span class="status">已取消</span><div class="again"><a href="javascript:;">重新下单</a></div></div>
						<div class="order_date">
							<span>订单号：R180441314233687</span>
							<span>下单时间：2018-4-3 15:58:47</span>
						</div>
						<div class="order-desc">
							<h3 class="title">【2018-春】 三年级大语文春季直播班</h3>
							<div class="list">
								<ul>
									<li class="item">
										<span>上课时间</span> 2018-4-2 15:10:30至2018-9-30 15:30 | 每周一、二、三、四、五、六、日上课
									</li>
									<li class="item">
										<span>上课教室</span>北京市海淀区中关村大街人民大学3号楼211教室
									</li>
									<li class="item">
										<span>学员人数</span> 天马（3955556666）| 天马（3955556666）
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /右侧内容 -->
		</div>
	<!-- /个人中心主体内容  -->
	
	<!--页脚-->
	@@include("../include/组件-页脚.html")
	<script>
		$('.tab .inner').on('click', function() {
			$('.tab .inner').removeClass('active');
			$(this).addClass('active');
		})
	</script>
</body>
